DB_PASSWORD=your_password
DB_ROOT_PASSWORD=your_root_password
JWT_SECRET=your-secret-key-at-least-32-characters-long
CLOUDINARY_CLOUDNAME=
CLOUDINARY_APIKEY=
CLOUDINARY_APISECRET=
GEMINI_APIKEY=
CORS_ORIGINS=http://localhost:3000
