## JWT
Jwt__Secret=

## Database (MongoDB)
Database__ConnectionString=mongodb://username:password@localhost:27017/BackendBase

## External Services
ExternalServices__PaymentApiKey=
ExternalServices__AiServiceKey=
